@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 30s linear infinite; 
  }
  
  .overflow-hidden {
    position: relative;
    width: 100%;
  }
  
  .flex {
    display: flex;
    gap: 1rem; 
  }
  


 /*  */
@layer components {
  .border-primary {
    border-color: #3498db;
  }
}





